<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.selenium.MavenPractice.Appium_Test"/>
      <class name="com.selenium.MavenPractice.Selenium_Test"/>
      <class name="com.selenium.MavenPractice.Rest_Assured_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
